{% extends 'base.html' %}

{#Этот шаблон расширяет базовый шаблон base.html#}
{#news/templates/news/catalog.html#}

{% block title %}
    Каталог новостей Info to Go
{% endblock %}

{% block content %}
    <h1>Каталог новостей Info to Go</h1>
    <p>Всего новостей: {{ news_count }}</p>
    <p>Всего пользователей: {{ users_count }}</p>
        <ul>
            {% for article in news %}
                <li>
                    {% include "include/article_preview.html" %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}