{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Профиль пользователя</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'info' %}active{% endif %}" href="{% url 'users:profile' %}">Информация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'articles' %}active{% endif %}" href="{% url 'users:my_articles' %}">Мои статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'activity' %}active{% endif %}" href="{% url 'users:activity' %}">История действий</a>
        </li>
    </ul>
    <div class="tab-content">
        {% block profile_content %}{% endblock %}
    </div>
</div>
{% endblock %}